<h4>Formularios <small> Templates </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(templateForm)" #templateForm="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               name="nombre"
               [class.is-invalid]="nombre.invalid && nombre.touched"
               [ngModel] = "usuario.nombre"
               type="text"
               placeholder="Nombre"
               required
               minlength="5"
               #nombre="ngModel">
        <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">
          Ingrese al menos 5 letras
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               name="apellido"
               [class.is-invalid]="apellido.invalid && apellido.touched"
               [ngModel] = "usuario.apellido"
               type="text"
               placeholder="Apellido"
               required
               minlength="5"
               #apellido="ngModel">
        <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">
          Ingrese al menos 5 letras
        </small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             name="correo"
             [class.is-invalid]="correo.invalid && correo.touched"
             [ngModel] = "usuario.correo"
             type="email"
             placeholder="Correo electrónico"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel">
      <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">
        Ingrese una dirección de correo válida
      </small>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

