<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-3">
        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid]="nombreNoValido">
        <small *ngIf="nombreNoValido" class="text-danger">
          Nombre no válido
        </small>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-3">
        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [class.is-invalid]="apellidoNoValido">
          <small *ngIf="nombreNoValido" class="text-danger">
                Apellido no válido
          </small>
      </div>
    </div>

  </div>
  <br>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-3">
      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email"
             [class.is-invalid]="emailNoValido">
      <small *ngIf="emailNoValido" class="text-danger">
              Email no válido
      </small>
    </div>
  </div>
  <br>
  <div class="form-group row" formGroupName="domicilio">
      <label class="col-2 col-form-label">Domicilio</label>
      <div class="col">
        <input class="form-control"
               type="text"
               placeholder="Provincia"
               formControlName="provincia">
      </div>
      <div class="col">
        <input class="form-control"
               type="text"
               placeholder="Municipio"
               formControlName="municipio">
      </div>
      <div class="col">
               <input class="form-control"
               type="text"
               placeholder="Código Postal"
               formControlName="codigoPostal">
      </div>
      <div class="col">
        <input class="form-control"
               type="text"
               placeholder="Dirección"
               formControlName="direccion">
      </div>
  </div>
  <br>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>
<pre>
  Estado del formulario: {{forma.valid}}
  <br>
  Status: {{forma.status}}
</pre>
<pre>
  {{forma.value | json}}
</pre>